body {
    font-family: "Oxygen", sans-serif;
    background-color: #DBDBDB;
}

header {
    text-align: center;
}

header h1 {
    font-size: 100px;
    color: #0E002E;
    background-color: azure;
    box-shadow: 0 1em 20px 10px azure;
    padding-top: .1em;
    padding-bottom: .25em;
}

header h2 {
    font-size: 35px;
    margin-bottom: 2em;
}

hr {
    border-bottom: 0.1em solid darkgrey;
    border-radius: 100px;
}

footer {
    background-color: black;
    color: azure;
    font-size: 1em;
    height: 2em;
    text-align: center;
}

#container {
    position: relative;
    min-height: 100vh;
}

#github {
    width: 5em;
}

.navbar {
    background-color: #09001C;
    box-shadow: 0 .5em 100px 50px grey;
    z-index: 1;
}

.nav-item {
    padding: 0.5rem;
}

.nav-link {
    color: azure!important;
    font-size: 20px;
    margin-left: 25px;
    text-shadow: 1px 2px 3px black;
}

.nav-link.active,
.nav-link:hover {
    color: #4981b3;
}

.section-title {
    text-align: center;
    color: #421B96;
}

.row {
    margin: 5em 0;
}

.projects {
    text-align: center;
    background-color: black;
    display: inline-block;
    margin: auto;
}

.projects img {
    width: 250px;
}

.projects h6 {
    color: #421B96;
}

.projects h6:hover,
.projects p:hover {
    text-decoration: none!important;
}

.links {
    text-align: center;
}

.form-control
{
    width: 25em;
    background-image: linear-gradient(#DBDBDB, #EDEDED);
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    margin: auto;
}

form .submit {
    color: #421B96;
    background-image: none;
    background-color: azure;
    width: 5em;
    box-shadow: 0.15em 0.15em black;
    transition: background-color 2s ease-out;
}

form .submit:hover {
    background-color: antiquewhite;
    transition: background-color 2s ease-in;
}

form .submit:active {
    box-shadow: none;
}